.container{
    background-image: url('../../img/landing.jpeg');
    background-size: cover;
    background-position: center;
    height: 120vh;
    background-repeat: no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* display: flex;
    flex-direction: column;    
    justify-content: space-around; */
}

.filtrado{
    display: flex;
    justify-content: space-around;   
}

.continente,
.actividad,
.alfabetico,
.tipo,
.btnFiltrar,
.btnReset{
    margin-top: 10px;
    
}
.continente select,
.actividad select,
.alfabetico select,
.tipo select{
    padding: 10px 20px;
    color: #333333; 
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
}

.contiente:focus,
.continente:hover,
.actividad:focus,
.actividad:hover,
.alfabetico:focus,
.alfabetico:hover,
.tipo:focus,
.tipo:hover,
.btnFiltrar:focus,
.btnFiltrar:hover,
.btnReset:focus,
.btnReset:hover{
    outline: none;
    border: 1px solid #ffffff;
}

.continente option,
.actividad option,
.alfabetico option,
.tipo option{
    background: #ffffff;
}


.btnFiltrar button{     
    padding: 10px 20px;
    color: #333333; 
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
}

.btnReset button{
    padding: 10px 20px;
    color: #333333; 
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;  
    width: 150px;
}

.paginado{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}

.searchBar{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;     /* cuando los elementos no puedan quedar en la misma fila, entonces se muevan al renglón inmediato */
    margin: 30px;
   margin-bottom: 30px;
}